@import 'base/variables.scss';
@import 'base/media.scss';

* {
    font-family: 'MuseoModerno', cursive;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/corousel';